<footer class="sticky-footer bg-dark text-light mb-0">
  <small class="d-block text-center lead">Copyright &copy; Megh Dedhia</small>
  <div class="text-center">
    <a href="#top">Back to Top</a>
  </div>
</footer>