<!-- Jumbotron -->
<div class="conatiner">
  <div class="jumbotron bg-info">
    <div class="container text-center">
      <h1 class="display-4 d-inline">Megh Dedhia</h1>
      <div>
        <p class="lead d-inline">Budding Full Stack Developer | Freelance Graphic Designer</p>
      </div>
      <hr class="my-3">
    </div>
  </div>
</div>