<nav class="navbar navbar-expand-sm navbar-light bg-light bck">
  <div class="container">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Projects
            <span class="badge badge-info">NEW</span></a>
          <div class="dropdown-menu">
            <a href="covid1" class="dropdown-item">Covid-19 World Project
              <span class="badge badge-info">NEW</span></a>
            <a href="covid2" class="dropdown-item">Covid-19 India Project
              <span class="badge badge-info">NEW</span></a>
            </a>
            <a href="jokes" class="dropdown-item">Jokes API
              <span class="badge badge-info">NEW</span></a>
            </a>
            <a href="student-form" class="dropdown-item">Student Form
              <span class="badge badge-info">NEW</span></a>
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">Contact Me
            <span class="badge badge-info">NEW</span>
          </a>
        </li>
      </ul>
    </div>
    <a class="navbar-brand ml-auto text-center main" href="#">Megh Dedhia</a>
    <ul class="list list-unstyled m-auto center-block">
      <li class="list-inline-item">
        <a class="navbar-brand" href="https://www.instagram.com/megh_dedhia/" target="_black">
          <img class="logo" src="/resources/instagram.png">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="navbar-brand" href="https://www.linkedin.com/in/megh-dedhia-37a132166/" target="_blank">
          <img class="logo" src="/resources/linkedin.png">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="navbar-brand" href="https://github.com/m11dedhia" target="_blank">
          <img class="logo" src="/resources/github.png">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="navbar-brand" href="https://www.hackerrank.com/m11dedhia" target="_blank">
          <img class="logo" src="/resources/hackerrank.png">
        </a>
      </li>
    </ul>
  </div>
</nav>