<!-- This is a static responsive page about me and includes my introduction too -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/stylesheet.css">
  <title>Megh Dedhia | Budding Full Stack Developer</title>
</head>
<body>
  <%- include('partials/navbar.ejs') %>

  <%- include('partials/jumbotron.ejs') %>

  <div class="container mb-5">
    <div class="row">
      <div id="accordion-start" class="col-md-9">
        <div id="accordion">
          <!-- First Accordion -->

          <div class="card text-center">
            <div id="heading1" class="bg-info card-header">
              <h5 class="mb-0 lead">
                <button class="btn btn-dark" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  About Me
                </button>
              </h5>
            </div>

            <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
              <div class="card-body d-inline text-dark">
                <p class="mx-3">
                I am a second year Computer engineering student at Dwarkas J. Sanghvi College of Engineering.
                </p>
              </div>
            </div>
          </div>

          <!-- Second Accordion -->

          <div class="card text-center">
            <div id="heading2" class="bg-info card-header">
              <h5 class="mb-0 lead">
                <button class="btn btn-dark" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                  What am i interested in?
                </button>
              </h5>
            </div>

            <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
              <div class="card-body d-inline text-dark">
                <p class="mx-3">
                Currently i am interested in Web development and i barely could complete this project too. I had basic knowledge about HTML-5 as well as CSS-3. I started learning Bootstrap and Javascript during lockdown and now i am well versed with them.
                </p>
              </div>
            </div>
          </div>

          <!-- Third Accordion -->

          <div class="card text-center">
            <div id="heading3" class="bg-info card-header">
              <h5 class="mb-0 lead">
                <button class="btn btn-dark" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                  What do i do, apart from Web Development?
                </button>
              </h5>
            </div>

            <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
              <div class="card-body d-inline text-dark">
                <p class="mx-3">
                I also do competitive coding. I have a quite a lot of experience in algortihmic coding in Java. Done a little bit in python. I also started learning Deep Learning. To support that i am also doing all the math used behind it.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mx-2 col card border-info bg-info">
        <img class="my-3 card-image-top" src="resources/img.jpeg" style="width:100%">

      </div>

    </div>
  </div>

  <%- include('partials/footer.ejs') %>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="app.js"></script>
</body>
</html>